{% load staticfiles %}

<div class="container-fluid latest-news pb-5 pl-4 pr-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 title text-white pt-5"><h2>latest news</h2></div>
      <div class="col-lg-3 col-12 pt-5">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-12">
            <img src="{% static 'images/home/rabelos.jpg' %}" class="card-img-top p-0" alt="...">
          </div>
          <div class="col-12 col-md-9 col-lg-12">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn text-white border-white">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 pt-5">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-12">
            <img src="{% static 'images/home/rabelos.jpg' %}" class="card-img-top p-0" alt="...">
          </div>
          <div class="col-12 col-md-9 col-lg-12">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn text-white border-white">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 pt-5">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-12">
            <img src="{% static 'images/home/rabelos.jpg' %}" class="card-img-top p-0" alt="...">
          </div>
          <div class="col-12 col-md-9 col-lg-12">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn text-white border-white">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
