<div class="container home-sponsors">
  <div class="row">
    <div class="col-3"><h1 class="title">sponsors</h1></div>
      {#  BLANK#}
    <div class="col-9"></div>
      {#  BLANK#}
    <div class="col-6">
      <div class="pub"></div>
    </div>
    <div class="col-6">
      <div class="pub"></div>
    </div>
    <div class="col-3">
      <div class="pub"></div>
    </div>
    <div class="col-3">
      <div class="pub"></div>
    </div>
    <div class="col-3">
      <div class="pub"></div>
    </div>
    <div class="col-3">
      <div class="pub"></div>
    </div>
  </div>
</div>
