{% extends "base.html" %}
{% load staticfiles %}
{% block body_content %}

    {#  HEADER#}
  <div class="container-fluid header">

    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TALKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="{% static 'images/logo.svg' %}" alt="Logo" height="80px"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">JOBS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONDUCT</a>
      </li>
    </ul>

    <div class="container home-title">
      <h1>PORTO, PORTUGAL<br><strong>27 APRIL - 01 MAY</strong></h1>
      <h3>Five days of talks, sprints, and<br> tutorials in Porto.</h3>
      <button class="btn">BUY TICKETS</button>
    </div>

  </div>

    {#  ABOUT#}
  <div class="container-fluid home-about">
      {% include 'modules/home-about.html' with content=about %}
  </div>

    {#  LATEST-NEWS#}
  <div class="container-fluid latest-news">
      {% include 'modules/last-news.html' %}
  </div>

    {#  PORTO-INFO#}
  <div class="container-fluid porto-info">
      {% include 'modules/porto-info.html' with content=porto %}
  </div>

    {#  SPONSORS#}
  <div class="container home-sponsors">
      {% include 'modules/home-sponsors.html' %}
  </div>

    {#  MAILING-LIST#}
  <div class="container-fluid mailing-list">
      {% include 'modules/mailing.html' %}
  </div>

    {#  FOOTER#}
  <div class="container-fluid custom-footer">
      {% include 'modules/footer.html' %}
  </div>

  <div class="container-fluid button-footer">
    <div class="row">
      <div class="col-6">
        DjangoPorto 2020 All Rights Reserved
      </div>
      <div class="col-1">
      </div>
      <div class="col-3">
        Designed by: playdust.design
      </div>
      <div class="col-2">
        Developed by: evolutio.pt
      </div>
    </div>
  </div>

{% endblock body_content %}
