{% extends "base.html" %}
{% load staticfiles %}
{% block body_content %}

    {#  HEADER#}
  <div class="container-fluid home-header">
    <ul class="container nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/about/tickets/">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/talks/talks/">TALKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/information/venue/">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="{% static 'images/logo.svg' %}" alt="Logo" height="80px"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/news/">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sponsors/sponsors/">SPONSORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conduct/code_of_conduct/">CONDUCT</a>
      </li>
    </ul>

    <div class="container home-title">
      <h1>PORTO, PORTUGAL<br><strong>27 APRIL - 01 MAY</strong></h1>
      <h3>Five days of talks, sprints, and<br> tutorials in Porto.</h3>
      <button class="btn">BUY TICKETS</button>
    </div>
  </div>

    {#  ABOUT#}
  <div class="container-fluid home-about">
      {% include 'modules/home/about.html' with content=about %}
  </div>

    {#  LATEST-NEWS#}
  <div class="container-fluid latest-news">
      {% include 'modules/home/news.html' %}
  </div>

    {#  PORTO-INFO#}
  <div class="container-fluid porto-info">
      {% include 'modules/home/porto.html' with content=porto %}
  </div>

    {#  SPONSORS#}
  <div class="container home-sponsors">
      {% include 'modules/home/sponsors.html' %}
  </div>

    {#  MAILING-LIST#}
  <div class="container-fluid mailing-list">
      {% include 'modules/mailing.html' %}
  </div>

{% endblock body_content %}
