.home-header {
  min-height: 100vh;
  background-image: url("/static/images/home/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    display: flex;
    align-items: center;
    height: 120px;
  }

  .collapsible {
    ul {
      display: inline !important;
      text-align: center;

      button {
        all: unset;
        color: white;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      ul.submenu {
        li {
          a {
            background-color: rgba($TextBlue, 0.6);
          }
        }
      }
    }
  }

  .home-title {
    margin-top: 10%;

    h1 {
      font-size: 58px;
      margin-bottom: 25px;
    }


    h1,
    h3 {
      color: white;
      font-weight: 300;
    }

    .btn {
      margin-top: 20px;
      color: white;
      border: 2px solid white;
      width: 150px;
    }
  }
}

.latest-news {
  background-color: $BgBlue;
  color: white;

  .card-img-top {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 15px;
  }
}

.home-sponsors {
  padding: 40px;

  .title {
    color: $TextBlue;
  }

  .col-6 {
    margin-bottom: 25px;
  }

  .pub {
    height: 150px;
    width: 100%;
    border: 1px solid black;
  }
}

.mailing-list {
  background: lightgray;
  padding: 40px;

  .mailing-input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    background: transparent;
  }
}

