@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

html, body {
    overflow-x: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

////////////////////////////////
//Variables//
////////////////////////////////

$HeaderBlue: #120E3D;
$BgBlue: #094383;
$TextBlue: #0078ff;
$BgGrey: #F4F4F4;

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

@import "homepage";

.title {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
}

// force footer to the bottom
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.innerBody {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

// modules layout
.simple-container {
  padding-top: 40px;
  padding-bottom: 40px;

  .title {
    color: $TextBlue;
  }
}

.half_image-container {
  .image {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    padding: 90px;
    h1 {
      color: $TextBlue;
    }
  }
}

// header
.header {
  .menu {
    background: $HeaderBlue;
    ul {
      display: flex;
      align-items: center;
      height: 120px;
    }
  }

  .submenu {
    background: $TextBlue;
    .nav {
      li {
        line-height: 30px;
      }
    }
  }

  .home-title {
    margin-top: 10%;

    h1 {
      font-size: 58px;
      margin-bottom: 25px;
    }


    h1, h3 {
      color: white;
    }

    .btn {
      margin-top: 20px;
      color: white;
      border: 2px solid white;
      width: 15%;
    }
  }
}

.nav {
  li {
    vertical-align: middle;
    font-weight: 300;

    &.active {
      a {
        font-weight: 900;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    a {
      color: white;
    }
  }
}

//footer
.custom-footer{
  padding: 40px;
  background-color: $BgBlue;
  color: white;
}

// table
table, td, th {
  border: 1px solid black;
}

td, th {
  padding: 10px;
}

.inner {
  padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    color: $TextBlue;
  }
}

.bg-grey {
  background: $BgGrey;
}

.btn {
  color: $TextBlue;
  border: 1px solid $TextBlue;
}

.btn:hover {
  color: $TextBlue;
  text-decoration: underline;
}


