{% load staticfiles %}

<div class="custom-footer row">
<!--  <div class="col-1">-->
<!--    <img src="{% static 'images/logo.svg' %}" alt="Logo" width="100%">-->
<!--  </div>-->
  <div class="col-2">
    <strong>about</strong><br/>
    tickets<br/>
    contact<br/>
    credits
  </div>
  <div class="col-2">
    <strong>talks</strong><br/>
    talks<br/>
    cfp<br/>
    schedule<br/>
    selection process
  </div>
  <div class="col-2">
    <strong>information</strong><br/>
    venue<br/>
    porto<br/>
    hospitality<br/>
    party<br/>
    sprints<br/>
    visa
  </div>
  <div class="col-2">
    <strong>sponsors</strong><br/>
    sponsors<br/>
    sponsorships<br/>
    job-board
  </div>
  <div class="col-2">
    <strong>conduct</strong><br/>
    code of conduct<br/>
    response guide<br/>
  </div>
  <div class="col-2">
    <strong>social networks</strong><br/>
    <a class="text-white" href="https://djangoconeurope2020.slack.com" target="_blank">slack</a><br/>
    <a class="text-white" href="https://www.facebook.com/DjangoConEurope" target="_blank">facebook</a><br/>
    <a class="text-white" href="https://twitter.com/djangoconeurope" target="_blank">twitter</a>
  </div>
</div>

<div class="row  button-footer">
<!--    <div class="col-3">-->
<!--      DjangoPorto 2020 All Rights Reserved-->
<!--    </div>-->
  <div class="col-4">
    designed by <a class="text-white font-weight-bold" href="https://playdust.design" target="_blank">playdust.design</a>
  </div>
  <div class="col-4 text-center">
    developed with ♥ by <a class="text-white font-weight-bold" href="https://evolutio.pt" target="_blank">evolutio.pt</a>
  </div>
  <div class="col-4 text-right">
    help us improve on <a class="text-white font-weight-bold" href="https://github.com/djangocon/2020.djangocon.eu" target="_blank">GitHub</a>
  </div>
</div>
