{% load staticfiles %}

<div class="row">

  <div class="col-2">
    <img src="{% static 'images/logo.svg' %}" alt="Logo" width="100%">
  </div>
  <div class="col-2">
    <strong>about</strong><br>
    event<br>
    tickets<br>
    credits
  </div>
  <div class="col-2">
    <strong>talks</strong><br>
    talks<br>
    schedule<br>
    speakers
  </div>
  <div class="col-2">
    <strong>conduct</strong><br>
    conduct<br>
    response guide<br>
  </div>
  <div class="col-2">
    <strong>information</strong><br>
    information<br>
    accessibility<br>
    venue<br>
    where to stay
  </div>
  <div class="col-2">
    <strong>social networks</strong><br>
    Facebook<br>
    Twitter<br>
  </div>

</div>
