{% load staticfiles %}

<div class="container-fluid footer">
  <div class="custom-footer row">
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>about</strong><br/>
      <a class="text-white" href="/about/tickets/">tickets</a><br/>
      <a class="text-white" href="/about/contact/">contact</a><br/>
      <a class="text-white" href="/about/credits/">credits</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>talks</strong><br/>
      <a class="text-white" href="/talks/talks/">talks</a><br/>
      <a class="text-white" href="/talks/cfp/">cfp</a><br/>
      <a class="text-white" href="/talks/schedule/">schedule</a><br/>
      <a class="text-white" href="/talks/selection_process/">selection process</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>information</strong><br/>
      <a class="text-white" href="/information/venue/">venue</a><br/>
      <a class="text-white" href="/information/porto/">porto</a><br/>
      <a class="text-white" href="/information/hospitality/">hospitality</a><br/>
      <a class="text-white" href="/information/party/">party</a><br/>
      <a class="text-white" href="/information/sprints/">sprints</a><br/>
      <a class="text-white" href="/information/grants/">grants</a><br/>
      <a class="text-white" href="/information/visa/">visa</a>
      <a class="text-white" href="/information/covid-19/">covid-19</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>sponsors</strong><br/>
      <a class="text-white" href="/sponsors/sponsors/">sponsors</a><br/>
      <a class="text-white" href="/sponsors/sponsorships/">sponsorships</a><br/>
    </div>
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>conduct</strong><br/>
      <a class="text-white" href="/conduct/code_of_conduct/">code of conduct</a><br/>
      <a class="text-white" href="/conduct/response_guide/">response guide</a>
      <a class="text-white" href="/conduct/privacy_guide/">privacy guide</a>
    </div>
    <div class="col-lg-2 col-sm-4 col-12">
      <strong>social networks</strong><br/>
      <a class="text-white" href="https://djangoconeurope2020.slack.com" target="_blank">slack</a><br/>
      <a class="text-white" href="https://www.facebook.com/DjangoConEurope" target="_blank">facebook</a><br/>
      <a class="text-white" href="https://twitter.com/djangoconeurope" target="_blank">twitter</a>
    </div>
  </div>
</div>

<div class="credits-sm container-fluid d-block d-lg-none">
  designed by <a class="text-white font-weight-bold" href="https://playdust.design" target="_blank">playdust.design</a><br>

  developed in <a class="text-white font-weight-bold" href="https://www.djangoproject.com" target="_blank">django</a>
  with ♥ by <a class="text-white font-weight-bold" href="https://evolutio.pt" target="_blank">evolutio.pt</a><br>

  help us improve on <a class="text-white font-weight-bold" href="https://github.com/djangocon/2020.djangocon.eu"
                          target="_blank">GitHub</a>
</div>
<div class="credits-lg container-fluid d-none d-lg-block">
  <div class="row">
    <div class="col-md-3">
      designed by <a class="text-white font-weight-bold" href="https://playdust.design" target="_blank">playdust.design</a>
    </div>
    <div class="col-md-6 text-center">
      developed in <a class="text-white font-weight-bold" href="https://www.djangoproject.com"
                      target="_blank">django</a> with ♥ by <a class="text-white font-weight-bold"
                                                              href="https://evolutio.pt"
                                                              target="_blank">evolutio.pt</a>
    </div>
    <div class="col-md-3 text-right">
      help us improve on <a class="text-white font-weight-bold" href="https://github.com/djangocon/2020.djangocon.eu"
                            target="_blank">GitHub</a>
    </div>
  </div>
</div>
