{% load staticfiles %}

<div class="header">
  <div class="container-fluid menu">
    <ul class="container nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/about/tickets/">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/talks/talks/">TALKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/information/venue/">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="{% static 'images/logo.svg' %}" alt="Logo" height="80px"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/news/">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sponsors/sponsors/">SPONSORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conduct/code_of_conduct/">CONDUCT</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid submenu">
    <ul class="container nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">VENUE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PORTO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HOSPITALITY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PARTY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SPRINTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">VISA</a>
      </li>
    </ul>
  </div>
</div>
