{% load staticfiles %}
{% load lineage %}

<div class="header">
  <div class="container-fluid menu">
    <ul class="container nav nav-pills nav-fill">
      <li class="nav-item {% ancestor '/about/' %}">
        <a class="nav-link" href="/about/tickets/">ABOUT</a>
      </li>
      <li class="nav-item {% ancestor '/talks/' %}">
        <a class="nav-link" href="/talks/talks/">TALKS</a>
      </li>
      <li class="nav-item {% ancestor '/information/' %}">
        <a class="nav-link" href="/information/venue/">INFORMATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="{% static 'images/logo.svg' %}" alt="Logo" height="80px"></a>
      </li>
      <li class="nav-item {% ancestor '/news/' %}">
        <a class="nav-link" href="/news/news/">NEWS</a>
      </li>
      <li class="nav-item {% ancestor '/sponsors/' %}">
        <a class="nav-link" href="/sponsors/sponsors/">SPONSORS</a>
      </li>
      <li class="nav-item {% ancestor '/conduct/' %}">
        <a class="nav-link" href="/conduct/code_of_conduct/">CONDUCT</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid submenu">
    <ul class="container nav nav-pills nav-fill">
      {% ifancestor '/about/' %}
      <li class="nav-item {% ancestor '/about/tickets/' %}">
        <a class="nav-link" href="/about/tickets/">TICKETS</a>
      </li>
      <li class="nav-item {% ancestor '/about/contact/' %}">
        <a class="nav-link" href="/about/contact/">CONTACT</a>
      </li>
      <li class="nav-item {% ancestor '/about/credits/' %}">
        <a class="nav-link" href="/about/credits/">CREDITS</a>
      </li>
      {% endifancestor %}

      {% ifancestor '/talks/' %}
      <li class="nav-item {% ancestor '/talks/talks/' %}">
        <a class="nav-link" href="/talks/talks/">TALKS</a>
      </li>
      <li class="nav-item {% ancestor '/talks/cfp/' %}">
        <a class="nav-link" href="/talks/cfp/">CFP</a>
      </li>
      <li class="nav-item {% ancestor '/talks/schedule/' %}">
        <a class="nav-link" href="/talks/schedule/">SCHEDULE</a>
      </li>
      <li class="nav-item {% ancestor '/talks/selection_process/' %}">
        <a class="nav-link" href="/talks/selection_process/">SELECTION PROCESS</a>
      </li>
      {% endifancestor %}


      {% ifancestor '/information/' %}
      <li class="nav-item {% ancestor '/information/venue/' %}">
        <a class="nav-link" href="/information/venue/">VENUE</a>
      </li>
      <li class="nav-item {% ancestor '/information/porto/' %}">
        <a class="nav-link" href="/information/porto/">PORTO</a>
      </li>
      <li class="nav-item {% ancestor '/information/hospitality/' %}">
        <a class="nav-link" href="/information/hospitality/">HOSPITALITY</a>
      </li>
      <li class="nav-item {% ancestor '/information/party/' %}">
        <a class="nav-link" href="/information/party/">PARTY</a>
      </li>
      <li class="nav-item {% ancestor '/information/sprints/' %}">
        <a class="nav-link" href="/information/sprints/">SPRINTS</a>
      </li>
      <li class="nav-item {% ancestor '/information/visa/' %}">
        <a class="nav-link" href="/information/visa/">VISA</a>
      </li>
      {% endifancestor %}

      {% ifancestor '/sponsors/' %}
      <li class="nav-item {% ancestor '/sponsors/sponsors/' %}">
        <a class="nav-link" href="/sponsors/sponsors/">SPONSORS</a>
      </li>
      <li class="nav-item {% ancestor '/sponsors/sponsorships/' %}">
        <a class="nav-link" href="/sponsors/sponsorships/">SPONSORSHIPS</a>
      </li>
      <li class="nav-item {% ancestor '/sponsors/job_board/' %}">
        <a class="nav-link" href="/sponsors/job_board/">JOB BOARD</a>
      </li>
      {% endifancestor %}

      {% ifancestor '/conduct/' %}
      <li class="nav-item {% ancestor '/conduct/code_of_conduct/' %}">
        <a class="nav-link" href="/conduct/code_of_conduct/">CODE OF CONDUCT</a>
      </li>
      <li class="nav-item {% ancestor '/conduct/response_guide/' %}">
        <a class="nav-link" href="/conduct/response_guide/">RESPONSE GUIDE</a>
      </li>
      {% endifancestor %}
    </ul>
  </div>
</div>
