{% extends "base.html" %}
{% load staticfiles %}
{% block body_content %}

{% include 'modules/header.html'%}

<div class="container-fluid inner">
  <div class="container">
    <div class="row">
      <div class="col-3 title"><h1>check in</h1></div>
      <div class="col-9 content">
        {% include 'modules/default.html' with content=check_in %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid inner bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-3 title"><h1>party</h1></div>
      <div class="col-9 content">
        {% include 'modules/default.html' with content=party %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid inner">
  <div class="container">
    <div class="row">
      <div class="col-3 title"><h1>sprints</h1></div>
      <div class="col-9 content">
        {% include 'modules/default.html' with content=sprints %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid inner bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-3 title"><h1>talks' schedule</h1></div>
      <div class="col-9 content">
        {% include 'modules/default.html' with content=talks_schedule %}
      </div>
    </div>
  </div>
</div>

{% endblock body_content %}
